.card {
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -19px;
}

.content {
  padding: 5px;
}

#leftsideMenu ul li {
  border-bottom: 1px dashed lightgray;
  background-color: cadetblue;
}