/* Split the screen in half */
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  color: beige;
}

/* Control the left side */
.left {
  width: 18%;
  left: 0;
  background-color: #23272a;
}

/* Control the right side */
.right {
  width: 82%;
  right: 0;
  background-color: #2c2f33;
}

/* Style the image inside the centered container, if needed */
.centered img {
  position:relative;
}

