/* Split the screen in half */
.split {
  height: 100vh;
  position: fixed;
  top: 0;
  color: beige;
}

/* Control the left side */
.left {
  width: 18vw;
  left: 0;
  background-color: #262932;
}

/* Control the right side */
.right {
  width: 82vw;
  right: 0;
  background-color: #343642;
}

.button-panel {
  height: 35%;
  width: inherit;
  position: absolute;
  bottom: 0;
  background-color: black;
}

.hf_btn {
  color: beige;
  position: absolute;
  bottom: 0;
}

/* put an underline under configuration header for consistency with above */
.underlinexyz {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 20px;
}

#id_filenames {
  float: right;
}

#id_window {
  float: right;
}

#id_algorithm {
  float: right;
}

#id_analysis {
  float: right;
}

.config_opt {
  font-size: 16px;
}
