/* Split the screen in half */
.split {
  height: 100vh;
  position: fixed;
  top: 0;
  color: beige;
}

/* Control the left side */
.left {
  width: 18vw;
  left: 0;
  background-color: #262932;
}

/* Control the right side */
.right {
  width: 82vw;
  right: 0;
  background-color: #343642;
}

.button-panel {
  height: 25%;
  width: inherit;
  position: absolute;
  bottom: 0;
  background-color: black;
}

.hf_btn {
  color: beige;
  position: absolute;
  bottom: 0;
}

/* Style the image inside the centered container, if needed */
.centered img {
  position:relative;
}

