/* Split the screen in half */
.split {
  height: 100vh;
  position: fixed;
  top: 0;
  color: beige;
}

/* Control the left side */
.left {
  width: 18vw;
  left: 0;
  background-color: #262932;
}

/* Control the right side */
.right {
  width: 82vw;
  right: 0;
  background-color: #343642;
}

.button-panel {
  height: 35%;
  width: inherit;
  position: absolute;
  bottom: 0;
  background-color: black;
}

.hf_btn {
  color: beige;
  position: absolute;
  bottom: 0;
}

/* Style the image inside the centered container, if needed */
.centered img {
  position:relative;
}

/* put an underline under configuration header for consistency with above */
.underlinexyz {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 20px;
}

.windowSizes {
    margin-bottom: 20px;
    margin-left: 20px;
}

.algorithm {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}
.onoffswitch {
    position: relative; width: 101px;
    display: inline-block;
    vertical-align: middle;
 /*   margin-left: 110px;*/
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;

}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Benford";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Zipf";
    padding-right: 10px;
    background-color: #0CF032; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 67px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}