/* Split the screen in half */
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  color: beige;
}

/* Control the left side */
.left {
  width: 20%;
  left: 0;
  background-color: #111;
}

/* Control the right side */
.right {
  width: 80%;
  right: 0;
  background-color: red;
}

/* If you want the content centered horizontally and vertically */
.centered-left {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* If you want the content centered horizontally and vertically */
.centered-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

