{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hyprfire</title>

    <link rel="stylesheet" href="{% static 'hyprfire_app/page-style.css' %}">
    <link rel="stylesheet" href="{% static 'hyprfire_app/card-style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <!-- This div will take up 12% of the left side of the screen. -->
    <!-- It is used to display a list of clickable filenames sent by the server -->
    <div class="split left" id="left_container">
        <ul class="w3-ul" id="file_list">
        <li><h3>Files</h3></li>
        {% for file in filenames %}
            <li class="w3-hover-amber" onclick="set_selected('{{ file }}')">{{ file }}</li>
        {% endfor %}
        </ul>
        <div class="button-panel">
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="w3-btn w3-block hf_btn w3-blue" value="Analyse">
            </form>
        </div>
    </div>

    <!-- This div takes up the remaining 88% of the right side of the screen. -->
    <!-- It will be used to show a graph and the raw data under the graph -->
    <div class="split right centered" id="right_container">

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'hyprfire_app/main.js' %}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</body>

</html>