{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hyprfire</title>

    <link rel="stylesheet" href="{% static 'hyprfire_app/page-style.css' %}">
    <link rel="stylesheet" href="{% static 'hyprfire_app/card-style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <!-- This div will take up 12% of the left side of the screen. -->
    <!-- It is used to display a list of clickable filenames sent by the server -->
    <div class="split left" id="split left">
        <h3 class="underlinexyz">Analysis</h3>
        <div class="form_thing">
            <form method="POST">
                {% csrf_token %}
                <div class="config_opt"> {{ form.filenames.label }}:{{ form.filenames }}</div>
                <div class="config_opt"> {{ form.window.label }}:{{ form.window }}</div>
                <div class="config_opt"> {{ form.algorithm.label }}:{{ form.algorithm }}</div>
                <div class="config_opt">{{ form.analysis.label }}: {{ form.analysis }}</div>
                <input type="submit" class="w3-btn w3-block hf_btn w3-blue" style="width: 45%" value="Analyse">
            </form>
            <input type="submit" id="exportButton" class="w3-btn w3-block hf_btn w3-green" style="width: 45%; margin-left: 55%; position: absolute; display: inline-block" value="Export">
        </div>

       <h3 class="underlinexyz">Pre-Analysed Files</h3>
       <div class="list_analysed">
           <ul class="w3-ul" id="file_list">
               {% for file in filenames %}
                   <li> {{ file }} </li>
               {% endfor %}
           </ul>
       </div>
    </div>

    <div class="split right">
        <div class="graph">
          {{ graph|safe }}
        </div>
        <div class="packet_data">
            <div class="split_left">
                <table id="packet_data_table" class="table">
                    <tr>
                      <th>Timestamp</th>
                      <th>Category</th>
                      <th>Source</th>
                      <th>Destination</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
      var e = document.getElementById("id_filenames");
      var fileName = e.options[e.selectedIndex].text;
      var myDiv = document.getElementsByClassName('plotly-graph-div')[0];
      var start = 0;
      var end = 0;
      myDiv.on('plotly_selected',
      function(data){  
        start = String(data.points[0].customdata[0]);
        end = String(data.points[data.points.length-1].customdata[1]);
        console.log(data.points[0].customdata[0]);
        console.log(data.points[data.points.length-1].customdata[1]);
        $.getJSON(`/collect/${fileName}/${start}/${end}/`, function(data) {
          let packet_list = data["packet_data_list"];
          $.each(packet_list, function(index, element) {
            // let html = `Timestamp: ${element.timestamp}, Category: ${element.category}, Source: ${element.ip_data.src}:${element.transport_data.src_port}, Dest: ${element.ip_data.dst}:${element.transport_data.dst_port}`;
            let timestamp = `<td class="table_data">${element.timestamp}</td>`;
            let category = `<td class="table_data">${element.category}</td>`;
            let source = `<td class="table_data">${element.ip_data.src}:${element.transport_data.src_port}</td>`;
            let dest = `<td class="table_data">${element.ip_data.dst}:${element.transport_data.dst_port}</td>`;
            $("#packet_data_table").append(`<tr>${timestamp} ${category} ${source} ${dest}</tr>`);

          })
        });
      });

      $('#exportButton').click(function(event) {
        event.preventDefault();
        curUrl = window.location;
        window.location = curUrl.protocol + '//' + curUrl.host + '/' + `download/${fileName}/${start}/${end}/`
      });
    </script>
    <script src="{% static 'hyprfire_app/main.js' %}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</body>

</html>